.bg-glass {
  background-color: var(--glass);
}

option {
  color: white;
  max-width: 100%;
}

select {
  color: black;
}

li {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

span {
  font-family: 'Courier New', Courier, monospace;
}

.accent-color {
  accent-color: #333;
}