:root {

  --color-primary: #001d34;
  --color-secondary: #d8d8d8;
  --color-tertiary: #333;
  --color-quaternary: #111;  
  --glass: rgba(255, 255, 255, 0.1);
  --glass2: rgba(58, 57, 57, 0.704);
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.bg-glass {
  background-color: var(--glass);
  backdrop-filter: blur(2px);
}
.bg-glass2 {
  background-color: var(--glass2);
  backdrop-filter: blur(15px);
}

option {
  color: #333;
  max-width: 100%;
  background-color: transparent;
}

select {
  font-family: monospace;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  padding: 0.5rem;
  border-radius: 0.375rem;
}

label {
  font-family: monospace;
  color: var(--background);
}

li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

span {
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
}

.accent-color {
  accent-color: var(--color-secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--background);
  color: var(--accent);
}
.outerspinner{
  background-image: li;
}