.bg-glass {
  background-color: var(--glass);
}

option {
  color: #333;
  max-width: 100%;
  background-color: transparent;
}

select {
  font-family: monospace;
  color: black;
}
label {
  font-family: monospace;
  color: var(--background);
  font-size: larger;
  text-decoration: underline;
  
}

li {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

span {
  font-family: 'Courier New', Courier, monospace;
}

.accent-color {
  accent-color: #333;
}